
h2{ color: white;}
body {
    margin: 0;
    padding: 0;
    background: url('header.jpg') no-repeat center center fixed;
    background-size: cover;
}
#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}
    

nav {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}


h1, h2{ 
    font-size:20px;
font-family: Alfa Slab One, cursive;

}

.contenedor{
   
height: 50vh;
    min-height:200px ;
    color: white;
   text-align:center;
   margin: 150px;
}
h3{
    font-size: 50px;
}

.lsn{
    
    margin:0;
    padding: 0;
    list-style: none;

}
.lsn li{
    margin: 20px;
}
.lsn li a{ 
    background-color: transparent;
    font-family:Arial, Helvetica, sans-serif, cursive;
    font-size: 1.2rem;
    color: #ffffff;
    transition: all .2s ease-in-out;
}
.lsn li a:hover{
    color: #751717;
    background-color: transparent;
}
.lsn li a img{
width: 100px;
height: 50px;
filter: grayscale();
transition: all .2 ease-in-out;
margin-right:10px;
opacity: 0.7;

}

.lsn li a:hover img{
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}

.testimonios{
    background-color: black;
    padding-bottom: 4rem !important;
}
.testimonios{
    text-align: center;
    padding:50px 20px;
}
.staff{

    background: #efefef;
}
.mapa{
    width: 100% ;
    aspect-ratio: 1.2;
}

html{
    scroll-behavior: smooth;
}

.scroll_section{
    scroll-margin-top: 60px ;
}

